@charset "UTF-8";

:root {
    --black: #151515;
    --roxo: #6c00a3;
    --roxoDark: #54007f;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 40px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--roxo);
    border-radius: 40px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--roxoDark);
}

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@keyframes animation {    
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

body {
    background-color: var(--black);
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
}

#main, #content {
    background-color: #fff;
    height: 450px;
    width: 400px;
    border-radius: .7rem;
    padding: 2rem;
    box-shadow: 2px 2px 10px #000000b0, 
    inset 2px 2px 4px #00000079,
    inset -2px -2px 4px #00000079;
    animation: animation 2s ease-in-out forwards;
}

#main {
    margin-right: 3rem;
}

#content {
    margin-right: 3rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.9rem;
    font-weight: 500;
}

#content > p > strong {
    color: var(--roxoDark);
}

article {
    margin-top: 1.2rem;
}

section > article > p {
    font-size: 18px;
    color: var(--black);
}

section > article > p::after {
    content: ' *';
    color: #f00;
    font-weight: 700;
}

section > article > input,
section > button {
    border: 1.6px solid var(--roxo);
    padding: 2px;
    width: 100%;
    height: 2rem;
    border-radius: 4px;
    box-shadow: 1px 1px 3px #0000004b, 
    inset -1px -1px 3px #0000004b,
    inset 1px 1px 3px #0000004b,
    -1px -1px 3px #0000004b;
}

section > article > input:focus, 
section > button:focus {
    outline: 0;
}

button {
    background-color: var(--roxo);
    color: #fff;
    cursor: pointer;
    margin-top: 1.2rem;
    font-size: 16px;
    height: 150px;
}

button:hover {
    background-color: var(--roxoDark);
    color: #fff;
    transition: .3s ease-in-out;
}

@media only screen and (max-width: 985px) {
    body {
        flex-direction: column;
        position: initial;
        transform: none;
        justify-content: center;
        align-items: center;
    }

    #main, #content {
        margin: 1.5rem 0;
        min-height: 400px;
        min-width: 150px;
    }
}

@media only screen and (max-width: 500px) {
    body {
        flex-direction: column;
        position: initial;
        transform: none;
        justify-content: center;
        align-items: center;

    }

    #main, #content {
        margin: 1.5rem 0;
        min-height: 220px;
        width: 85vw;
    }
}
